:root {
  --animate-delay: 2s;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', "Helvetica Neue", Helvetica, sans-serif;

}

html {
  position: relative;
    scroll-behavior: smooth;
  }
body{
    background-color: #000000;
}

button{
  cursor: pointer;
}
.container{
  width: 900px;
  max-width: 90vw;
  margin: auto;
  padding-top: 10px;
  transform: 0.5s;
}
.icon-cart{
  position: relative;

}
.icon-cart span{
  position: absolute;
  background-color: rgb(148, 55, 55);
  width: 1.5rem;
  height: 1.5rem;
  bottom: -10px;
  left: 12px;
  border-radius: 2.4375rem;
  color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
    position: absolute;
    right: 0;
    left: 0;
}
.logo img{

    width:60px;

}


header nav {
  position: fixed;
  z-index: 1; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  width: 98%;
    margin: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    background:#0c0c0c;
    border-radius: 10px;
    
}
header nav ul{

   
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

header nav ul img{

   width: 25px;
   opacity: .7;
}
header nav ul img:hover{

   transition: .3s ease;
    opacity: 1;
 }
 

 .back-video {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -999;
}

section {
    width: 100%;
    height: auto;
    background-color: rgb(246, 246, 246);
    
    
}
.page-title {
    width: 100%;
    height: auto;
    background-color: rgb(246, 246, 246);
    border-radius: 10px 10px 0 0;

    
}
.main-page-text{
    text-align: center;
    color: #fff;
    font-size: 4rem;
    position: absolute;
    bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.main-page-text-container{
  position: relative;
    
}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    border-radius: 10px;
}

.text{
    text-align: center;
    color: #000;
    
    font-family: Inter;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.cart-tab{
  color:  #ededed;      
z-index: 2;
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.61) 0%, rgba(42, 42, 42, 0.72) 100%);
  backdrop-filter: blur(13.5px);
  width: 400px;
  max-width: 100%;
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px 70px;

}
.cart-tab h1{
  padding: 20px;
  margin: 0;
  font-weight: 400;
}
.cart-total{
  font-weight: 800;
  padding: 10px;
  
}
.cart-tab .listcart{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-top: solid 1px #3d3d3d;
}
.cart-tab .btn{
  display: grid;
  grid-template-columns: repeat(2,2fr);
    border: none;
}
.cart-tab .btn button{
  background-color: #2b2b2b;
  border: none;
  color: #d1d1d1;

}
.cart-tab .btn button:hover{
  background-color: #151515;
  border: none;
  color: #d1d1d1;

}
.cart-tab .listcart{
  overflow: auto;

}
.cart-tab .listcart::-webkit-scrollbar{
  width: 0;

}

body.activeTabCart .cart-tab{
  right:400px;
}
body.activeTabCart .cart-tab{
  transition: 1s;
  transform: translatex(400px);

}
.cart-tab{
  transition: 2s;
  right: -400px;
  text-transform: capitalize;

}

.cart-tab .btn .close{
  background-color: #404040;
  border: solid 1px #1d1d1d;
  color: #d1d1d1;

}
.cart-card{
  border-radius: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cart-card img{
  width: 150px;
  height: 100%;
  border-radius: 5px;
  object-fit:cover;
  background-color: #929292;
  
}
.cart-content{
  display: flex;
  justify-self: center;
  flex-direction: column;
  gap: 10px;
}
.cart-content h4{
  padding-bottom: 10px;
}
.cart-content #quantity{
  margin-bottom: 40px;
  width: 40px;
  font-weight: 800;
  background-color: #71919d;
  border: none;
  padding: 2px;
  color: #ededed;
}
.product-section{
    height: auto;
    background-color: rgb(20, 20, 20);
    
}
.remove {
  align-self: flex-end;
  
  position: absolute;
  bottom: 0;
  width: 30px;
  height: auto;
  transition: transform 1.8 ease;
  opacity: .7;
  cursor: pointer;


}
.remove:hover {
  opacity: 1;


}
.remove img{
  background-color: transparent;
  width: 100%;

}
#searchbar-container{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
#search-bar {
    width: 500px;
    background-color: #000000;
    color: #d1d1d1;
    padding: .45rem 2rem;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }
  
  #search-bar:focus {
    border-bottom: 2px solid #91BBCA;
    border-radius: 10px;

  }
  
  #search-bar:hover {
    outline: 1px solid lightgrey;
  }
  .cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
    grid-gap: 20px; 
    padding: 8rem;
    padding-top:2rem ;
  }
  .card {
    height: auto;
    width: 100%;
    background: #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    

}

.card:hover {
    transform: translateY(-10px);
        transform: scale(1);
}

.image-container {
    height: 100%;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: #fff;
  box-sizing: border-box;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.product-name {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.price {
    font-size: 1.2rem;
}

.addCart {
    position: absolute;
    bottom: 10px;
    right: 10px;
    
}


.addCart button {
  background-color: #5992a7;
  color: #ededed;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}





  footer ul {
    padding: 10PX;
  }

  footer ul li {
    display: inline;
    margin-right: 20px;
  }

  footer ul li a {
    color: #767676;
    text-decoration: none;
  }
  footer ul li a:hover {
    transition: 0.4s ease-in-out;
    color: #b0b0b0;
    text-decoration: none;
  }
  
  .cart-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .cart-card img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .cart-content {
    flex: 1;
    position: relative;
  }
  
  .cart-content h4 {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .quantity-dropdown select {
    padding: 5px;
    margin-left: 4px;
    border-radius: 5px;
  }
  
  .remove img {
    width: 25px;
    height: auto;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}
  
  #cart-total {
    font-weight: bold;
    margin-top: 20px;
  }
  
@media screen and (max-width:1000px  ) {
    .back-video video{
        position: sticky;
        top: 0;
        width: 200%;
        height: auto;
        z-index: -999;
        overflow: hidden;
    }
    .main-page-text{
        text-align: center;
        color: #fff;
        font-size: 2rem;
        position: absolute;
        bottom: 10rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .main-page-text-container{
      position: relative;
    
    }
    .text{
        text-align: center;
        
        font-family: Inter;
        font-size: 2rem;
        
    }
    .cards-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        grid-gap: 20px; 
        padding: 2rem;
    }
    .card{
        height: 30rem;
        width:100% ;
        padding: 0rem;
        background: #000;
        border-radius: 9px;
      }
      .card img {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        transition: transform 0.3s ease;
      }
      
}


.body2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "head head head"
  "body con2 body"
  "head head head";
  background-color: #d1d1d1;
}
.container2{
  grid-area: "con2";
  background-color: rgb(255, 255, 255);
  margin: 1rem;
  border-radius: 10px;
	min-height: 70vh;
  min-width: 50vh;

}
.info{


  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}


@keyframes fadeOut {
  0% {
      opacity: 1;
      height: auto;
  }
  100% {
      opacity: 0;
      height: 0;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      height: 0;
  }
  100% {
      opacity: 1;
      height: auto;
  }
}

.cards-container.fade-out {
  animation: fadeOut 0.3s ease forwards;
}

.cards-container.fade-in {
  animation: fadeIn 0.3s ease forwards;
}


/* singup start-----------------------------------------*/

.signup * {box-sizing: border-box}

.signup input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.signup input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.signup hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.signup button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signup button:hover {
  opacity:1;
}

.signup .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.signup .cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.signup .container {
  padding: 16px;
}

.signup .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .signup .cancelbtn, .signupbtn {
    width: 100%;
  }
}
/* singup end------------------------------------------- */




.noitemfound{
  color: rgb(174, 174, 174);
}

.err{
  background-color: #3a3a3a;
  border-radius: 10px;
}